<!DOCTYPE html>
{% extends 'EFactor/base.html' %}
{% load static %}

<html>
< lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">


</head>

{% block title %} Inputs for amount for auxiliaries {% endblock %}





 {% block body_block %}
   <!-- Some info on this app -->
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped " role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
   Reactants:{{Tag}} indexed
  </div>
    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
   Auxiliary:..
  </div>
</div>



<form method="post" action="Throughput2/"  >
     {% csrf_token %}
<input type="hidden" name="reactantData" value="{{ reactantData }}" >
    <input type="hidden" name="numberOfReactants" value="{{ Tag }}" >

            <legend>Enter the amount of auxiliaries for analysis</legend>

            <label for="rsid2">Type an amount (max=30, if none enter 0 and continue): </label>
            <input id="rsid2" type="text" name="rsid2"> <br>
            <br><br>
    <center>
    <a href="javascript:history.back()">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true" >
                  Go back</span></a>

            <input type="submit" class="btn btn-info" value="Continue">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true" >
           </span></center>








</form>


        </form>
       <br>


<form action="PageObjects" method="post">{% csrf_token %}
       <select multiple name="reactant">
    {% for movie in reactantData %}


            <option value="{{movie.0}}" >Reactant: {{movie.0}}, {{movie.1}}  </option>

    {% endfor %}
</select>
<input type="hidden" name="reactantData" value="{{ reactantData }}" >
   <!-- <input type="submit" value="Select"> -->
</form>



       </div>


{% endblock %}
</html>