<!DOCTYPE html>
{% load static %}

<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">




    <title>IE Soft-Lab</title>
</head>
<body>


   <!-- Some info on this app -->

<div class="container">
   <!-- Some info on this app -->
   <div class="jumbotron">
    <h3>IE Soft-lab</h3>

       <br>

       <small>This Web-application is built with Django 1.9.2 with external stylesheets bootstrap CDN 3.3.6. For list of prerequisites please contact Web application developer. Icons from Glyphicon were used: http://glyphicons.com/.
<br>
<center>

    <a href="javascript:history.back()">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true" >
                  Go back</span></a>


           </center>
</div>
</div>

<!--/.fluid-container-->

<hr>
<footer>
<center>
    <div class="container">

        <!--Add a picture and center it-->

        <font color="black">&copy; IE Soft-lab 2016</font>
    </div>
</center>
</footer>
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>


